In [50]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [51]:
# Set current amount of shares data
coin_data = {"coins": [200, 320]}

# Set the crypto
coins = ["BTC", "ETH"]

# Create the shares DataFrame
df_coins = pd.DataFrame(coin_data, index=coins)

# Display coins data
df_coins

     coins
BTC    200
ETH    320

In [57]:
#set current amount of crypto assets
my_btc = 1.2
my_eth = 5.3

In [58]:
load_dotenv()

True

In [59]:
# Crypto API URLs
btc_url = "https://api.alternative.me/v2/ticker/Bitcoin/?convert=USD"
eth_url = "https://api.alternative.me/v2/ticker/Ethereum/?convert=USD"

In [62]:
# Fetch current BTC price
response_data = requests.get(btc_url)

response_content=response_data.content

print(response_content)

# Fetch current ETH price
response_data = requests.get(eth_url)
response_content=response_data.content
print(response_content)

# Compute current value of my crpto
my_crypto = my_btc*(23147) + my_eth*(1710.81)
my_crypto

b'{\n\t"data": {\n\t\t"1": {\n\t\t\t"id": 1,\n\t\t\t"name": "Bitcoin",\n\t\t\t"symbol": "BTC",\n\t\t\t"website_slug": "bitcoin",\n\t\t\t"rank": 1,\n\t\t\t"circulating_supply": 19114306,\n\t\t\t"total_supply": 19114306,\n\t\t\t"max_supply": 21000000,\n\t\t\t"quotes": {\n\t\t\t\t"USD": {\n\t\t\t\t\t"price": 23147.0000000000000000,\n\t\t\t\t\t"volume_24h": 15499806796,\n\t\t\t\t\t"market_cap": 442961003034,\n\t\t\t\t\t"percentage_change_1h": -0.1686958320628130,\n\t\t\t\t\t"percentage_change_24h": 0.8603628325920560,\n\t\t\t\t\t"percentage_change_7d": -2.9387884338516000,\n\t\t\t\t\t"percent_change_1h": -0.1686958320628130,\n\t\t\t\t\t"percent_change_24h": 0.8603628325920560,\n\t\t\t\t\t"percent_change_7d": -2.9387884338516000\n\t\t\t\t}\n\t\t\t},\n\t\t\t"last_updated": 1659818094\n\t\t}\n\t},\n\t"metadata": {\n\t\t"timestamp": 1659818094,\n\t\t"num_cryptocurrencies": 3116,\n\t\t"error": null\n\t}\n}'
b'{\n\t"data": {\n\t\t"1027": {\n\t\t\t"id": 1027,\n\t\t\t"name": "Ethereum",\n\t\t\t"symbol": "ETH",\n\t\t\t"website_slug": "ethereum",\n\t\t\t"rank": 2,\n\t\t\t"circulating_supply": 119989816,\n\t\t\t"total_supply": 119989816,\n\t\t\t"max_supply": 119989248,\n\t\t\t"quotes": {\n\t\t\t\t"USD": {\n\t\t\t\t\t"price": 1710.8100000000000000,\n\t\t\t\t\t"volume_24h": 12214468738,\n\t\t\t\t\t"market_cap": 205421148482,\n\t\t\t\t\t"percentage_change_1h": -0.2499681943421610,\n\t\t\t\t\t"percentage_change_24h": 1.9778758729284200,\n\t\t\t\t\t"percentage_change_7d": -1.6234535763819800,\n\t\t\t\t\t"percent_change_1h": -0.2499681943421610,\n\t\t\t\t\t"percent_change_24h": 1.9778758729284200,\n\t\t\t\t\t"percent_change_7d": -1.6234535763819800\n\t\t\t\t}\n\t\t\t},\n\t\t\t"last_updated": 1659818069\n\t\t}\n\t},\n\t"metadata": {\n\t\t"timestamp": 1659818069,\n\t\t"num_cryptocurrencies": 3116,\n\t\t"error": null\n\t}\n}'

36843.693

In [65]:
response_content[price]

AttributeError: 'bytes' object has no attribute 'loc'

In [ ]:
import requests
import json

# Create parameterized url
request_url = "http://numbersapi.com/42?json"

# Submit request and format output
response_data = requests.get(request_url).json()
print(json.dumps(response_data, indent=4))

# Select fact 
response_data['text']

In [32]:
#Alpaca API KEYs
alpaca_api_key=os.getenv("ALPACA_API_KEY")
alpaca_secret_key=os.getenv("ALPACA_SECRET_KEY")

In [33]:
#Alpaca API object
alpaca=tradeapi.REST(alpaca_api_key,alpaca_secret_key,api_version="v2")

In [34]:
#current date in ISO format
today=pd.Timestamp("2022-08-05",tz="US/Eastern").isoformat()

In [35]:
tickers=['AGG','SPY']

In [36]:
#Timeframe for Alpaca API
timeframe='1day'

In [37]:
#closing prices for AGG,SPY
df_port=alpaca.get_bars(tickers,timeframe,start=today,end=today).df
df_port.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-08-05 04:00:00+00:00,102.81,102.83,102.52,102.71,4847064,16418,102.711038,AGG
2022-08-05 04:00:00+00:00,409.68,414.15,409.60,413.47,56751151,455450,412.292366,SPY

In [38]:
#Seperate tickers
AGG=df_port[df_port['symbol']=='AGG'].drop('symbol',axis=1)
SPY=df_port[df_port['symbol']=='SPY'].drop('symbol',axis=1)

In [39]:
df_port=pd.concat([AGG,SPY], axis=1, keys=['AGG','SPY'])
df_port

                              AGG                                   \
                             open    high     low   close   volume
timestamp
2022-08-05 04:00:00+00:00  102.81  102.83  102.52  102.71  4847064

                                                      SPY                 \
                          trade_count        vwap    open    high    low
timestamp
2022-08-05 04:00:00+00:00       16418  102.711038  409.68  414.15  409.6


                            close    volume trade_count        vwap
timestamp
2022-08-05 04:00:00+00:00  413.47  56751151      455450  412.292366

In [47]:
agg_close=float(df_port["AGG"]["close"])
spy_close=float(df_port["SPY"]["close"])

In [49]:
spy_close

413.47

In [40]:
df_close=pd.DataFrame()

In [41]:
df_close["AGG"] = df_port["AGG"]["close"]
df_close["SPY"] = df_port["SPY"]["close"]
df_close.index=df_close.index.date
df_close.head()

               AGG     SPY
2022-08-05  102.71  413.47

In [43]:
df_close.iloc[0]

AGG    102.71
SPY    413.47
Name: 2022-08-05, dtype: float64

In [46]:
print(f"Current AGG closing price: ${df_close.iloc[0]}")
print(f"Current SPY closing price: ${spy_closing_price}")

Current AGG closing price: $AGG    102.71
SPY    413.47
Name: 2022-08-05, dtype: float64
Current SPY closing price: $2022-08-05    413.47
Name: SPY, dtype: float64

In [44]:
#Closing prices for AGG and SPY
agg_closing_price=df_close['AGG']
spy_closing_price=df_close['SPY']

In [45]:
print(f"Current AGG closing price: ${agg_closing_price}")
print(f"Current SPY closing price: ${spy_closing_price}")

Current AGG closing price: $2022-08-05    102.71
Name: AGG, dtype: float64
Current SPY closing price: $2022-08-05    413.47
Name: SPY, dtype: float64